@model OpenExistingWalletVm
@{
    ViewData["Title"] = "OpenExistingWallet";
}

<div class="container">
    <h1>Open an Existing Wallet</h1>

    <p>Enter your wallet private key (compressed ECDSA key, 65 hex digits)</p>

    <form form asp-controller="Wallet" asp-action="Open">
        <input type="text" asp-for="PrivateKey"/>
        <input type="submit" value="Open Wallet" class="btn btn-default active" />
    </form>
    <br />
    <div>
        @Html.Partial("_ExistingWalletPartial", Model)
    </div>
</div>