@model SignTransactionVm
@{
    ViewData["Title"] = "SendTransaction";
}

<div class="container">
    <h1>Send Transaction</h1>
    
    <form form asp-controller="Transactions" asp-action="SignTransaction" class="form-group">
        Sender: <input type="text" asp-for="From" class="form-control" />
        Recipient: <input type="text" asp-for="To" class="form-control" />
        Value: <input type="text" asp-for="Value" class="form-control" />
        <input type="submit" value="Sign Transaction" class="btn btn-default active" />
    </form>
    <br />
    <div>
        @Html.Partial("_SignTransactionPartial", Model)
    </div>
    <div>Blockchain Node:
        <form form asp-controller="Transactions" asp-action="SendTransaction" method="post" class="form-group">
            <input type="text" name="url" class="form-control" />
            <input type="hidden" name="info" value="@Model.Info" class="form-control" />
            <input type="submit" value="Send Transaction" class="btn btn-default active" />
        </form>
    </div>
</div>