
@{
    ViewBag.Title = "Index";
}

<div class="body-content">
    @using (Html.BeginForm("FormSubmit", "Home", FormMethod.Post))
    {
        <br>
        <div class="input-group alert alert-danger">
            <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
            <input type="text" class="form-control" name="address" placeholder="Your blockchain address">
        </div>


        <div class="input-group">
            <span class="input-group-addon">Node URL</span>
            <input type="text" class="form-control" name="url" value="http://localhost:5555">
        </div>
        <br>
        <div class="g-recaptcha" data-sitekey="6LfNnEkUAAAAAJAXvrXHE_JJIfwXQKo6Ljc-TscM"></div>
        <br>
        <input type="submit" class="btn btn-group-justified btn-info" value="Get coins!" />
     }
</div>
<span style="display: inline-block; font-size: 20px; margin: 20px; border: 1px solid #D3D3D3">
    @ViewBag.Message
</span>

<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
